body {
	background-color: rgb(243, 243, 243);
}
.img-circle {
	width: 64px;
	height: 64px;
	border-radius: 40px;
}

.width-mg {
	width: 100%;
}

.relativer {
	position: relative;
}

.sender {
	position: absolute;
	top: 50px;
	right: 50px;
}
